[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
seaborn = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
imbalanced-learn = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
